{% extends "layout.html" %}
{% load static %}

{% block title %}
Special Chai
{% endblock %}

{% block content %}

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content">
        <h1>Every Sip Tells a Story ☕</h1>

        <p>
            Experience the perfect blend of aroma, warmth, and happiness
            in every cup of our handcrafted chai.
        </p>

        <a href="#" class="btn">Explore Our Chai</a>
    </div>

    <div class="hero-image">
        <img src="{% static 'images/chai.png' %}" alt="Cup of Chai">
    </div>
</section>

{% endblock %}