{% extends "layout.html" %}
{% load static %}

{% block title %}
Special Chai
{% endblock %}

{% block navbar %}

<nav class="navbar">
    <div class="logo">
        <a href="/">☕ Special Chai</a>
    </div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#">Our Chai</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <a href="#" class="order-btn">Order Now</a>
</nav>

{% endblock  %}


{% block content %}
<h1>All Chai for you</h1>

{% for chai in chais %}
    <div class="chai-item">
        <img src="{{chai.image.url}}" alt="">
    </div>
{% endfor %}

{% endblock %}

